*{
    box-sizing: border-box;
}
body{
    text-align: center;
    height: 100%;
    margin: 0;
    font-family: 'Poiret One', cursive;
    font-weight: bolder;
    z-index: -1;
    background-color: rgba(19, 12, 8, 1.0);
}


button{
    height: 20px;
}

#form{
    margin-bottom: 200px;
}

#header{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.2);

}



.scoop{
    position: absolute;
    top: -5px;
    left: 35px;
    color: white;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Cookie', cursive;
}

.fa-cloud-upload{
    color: white;
    font-size: 35px;
    padding: 15px;
    position: absolute;
    top: 5px;
    left: 95%;
}



.back_btn{
    width: 35px;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: 10px;
}


#bg-pic{
    width: 100%;
    height: 600px;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
    background-color: rgba(0, 0, 0, 0.9);
}


.main_text{
    position: relative;
    margin-top: 200px;
    color: white;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 3px;
    font-size: 90px;
    font-weight: 100;
    animation: 1s ease-out 0s 1 slideInFromLeft;
    padding: 30px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.layer{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 600px;
    margin-bottom: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}



#main_container{
    margin-top: 5%;
    margin-bottom: 25%;
}

#big_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.imgs{
    position: relative;
    max-height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 5px;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    z-index: 1;
}

.imgs:hover{
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
}



.cursor {
    cursor: zoom-in;

}

.more {
    z-index: 99;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
    border: thin solid white;
    font-family: 'Poiret One', cursive;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    font-family:
    opacity: 0.9;
    font-size: 15px;
    color: white;
    right: 0;
}


.usernames{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    z-index: 10000;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: -19%;
}

.imgTitle{

    color: white;
    font-size: 25px;
    font-weight: bolder;
    margin-top: 0;
    width: inherit;
    height: 50px;
}


.home_btn{
    width: 80px;
    height: 60px;
}


.images_info{
    top: 0;
    background-color: rgba(255, 0, 0, 0.2);
    margin-top: 0;
    border-radius: 15px;
}

/*Single image page*/



#headerImage{
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 70px;
}


.container1{
    background-color: #E1E6E9;
    height: 100vh;
}

#biggest-C{
    padding-top: 50px;
    margin-top: 100px;
    width: 960px;
    display: block;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    font-family: 'Cabin', sans-serif;
    font-weight: lighter;
    height: 500px;
    border: 3px solid white;
}

#S-container{
    display: flex;
    flex-direction: row;
}


#imageContainer2{
    display: block;
    text-align: center;
    margin: 0 auto;
}

#single_image{
    padding-left: 30px;
    max-height: 400px;
    object-fit: cover;
    width: 600px;
    border-radius: 8px;
    padding-right: 5px;
}

.photographer{
    width: 60px;
    height: 60px;
}

.userinfo{
    display: inline-flex;
    width: 300px;
    margin-bottom: 10px;
}

.userinfo h1{
    padding-left: 10px;
    margin-top: 30px;
    font-size: 25px;
}

.S-title{
    margin: 0 auto;
    color: black;
    text-align: left;
    padding-bottom: 20px;
    border-bottom: thin solid lightgrey;
    font-size: 15px;
    width: 300px;
}

#imageContainer2 input{
    display: flex;
    flex-direction: column;
    background-color: rgba(225,230,233, 0.5);
    margin: 0 auto;
    color: black;
    height: 20px;
    width: 300px;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 100;
    border: thin solid lightgrey;
    border-radius: 9px;
    text-align: center;
}


.cmnt_btn{
    cursor: pointer;
    width: 100px;
    height: 20px;
    font-size: 13px;
    background-color: transparent;
    color: black;
    border-radius: 10px;
    border: solid 1px grey;
    margin: 0 auto;
    padding: 0 auto;
    margin-top: 10px;
}


.cmnt_btn:hover{
    background-color: #E1E6E9;
}


#comment{
    display: block;
    text-align: left;
    margin-top: 10px;
    width: 350px;
    background-color: rgba(145, 163, 176, 0.3);
    height: 150px;
    overflow-y: scroll;
}

.cmnt{
    font-size: 10px;
    font-weight: lighter;
    padding-left: 40px;
}


#comment p{
    left: 0;
    font-size: 15px;
}

.AC{
    text-align: left;
    padding-left: 20px;
    margin: 0 auto;
    margin-top: 5px;
    font-size: 14px;
}

.CC{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}


/*UPLOAD PAGE*/
#upload-bg{
    background-image: url('./images/photo-1493243391685-aa64043dfd41.jpeg');
    background-size: cover;
    position: absolute;
    z-index: -1;
    min-width: 100%;
    top: -10%;
    left: 0;
    height: 810px;
    overflow-y: hidden;
    margin: auto;
}


.layer1{
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    height: 900px;
    background-color: rgba(0, 0, 0, 0.7);
}

.upload_container{
    display: block;
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 550px;
    padding: 25px;
    background-color: rgba(255,255,255, 0.5);
    bottom: 80%;
    border-radius: 15px;
    color: black;
}


#form{
    margin: auto;
    display: inline-flex;
    flex-direction: column;
}

#form h1{
    font-size: 40px;
    font-weight: bold;
}

#form input[type = text]{
    margin: 10px;
    width: 400px;
    height: 40px;
    font-size: 25px;
    text-align: center;
    border: solid 1px;
    border-radius: 15px;
    font-family:  'Poiret One', cursive;
}

#form input[type = file]{
    margin: 15px;
    width: 400px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    border: 0;
    font-family:  'Poiret One', cursive;
}


.upload-button{
    position: relative;
    left: 42%;
    width: 100px;
    height: 35px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
    background-color: white;
    border: 0;
    border-radius: 10px;
}

#headerUpload{
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    margin: auto;
    background-color: rgba(255,255,255, 0.4);
}


@media(max-width: 500px){
    body{
        width: 100vh;
        height: 100vh;
    }
    #single_image{
        position: relative;
        top: 20%;
        width: 330px;
        text-align: center;
        height: auto;
    }
    #headerImage{
        position: relative;
        width: inherit;
    }
    #S-container{
        display: flex;
        flex-direction: column;
        width: 500px;
        height: 100%;
    }
    #imageContainer2{
        width: 375px;
        left: 0;
    }
    #imageContainer{
        width: 375px;
    }
    #comment{
        justify-content: center;
        width: 375;
        margin-left: -20px;

    }
    .S-title{
        position: relative;
        left: -20%;
        top: 80px;
    }
    .userinfo{
        margin-top: 50px;
    }
    .userimage{
        margin-bottom: 5px;
    }

    #imageContainer2 input{
        margin-bottom: 50px;
    }
    #comment p{

    }
    #bg-pic{
        width: 700px;
    }
    .layer{
        width: 700px;
    }
    #header{
        width: 700px;
    }
    .fa-cloud-upload{
        position: absolute;
        left: 590px;
    }
    .imgs{
        margin-top: 50px;
    }
    .usernames{
        top: 50px;
    }
}
